@model DependencyInjectionDemo.Models.Designation
@{
    ViewData["Title"] = "LearnSelectList";
}

<h1>LearnSelectList</h1>
<div class="row">
    <select asp-items="Model.countries" ></select>
</div>

