@model DependencyInjectionDemo.ViewModel.EmployeeSearchViewModel


<h2>@Model.PageTitle</h2>

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name </th>
                    <th>Designation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Employee.Name</td>
                    <td>@Model.Employee.Designation</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

